@{
  ViewBag.Title = "Index";
}

<h2>Customers</h2>

<div class="input-form" data-ng-app="customerApp" data-ng-controller="customerCtrl">
  <div class="row">
    <div class="col-md-2">
      <label>Search:</label><input type="text" data-ng-model="customerFilter" class="form-control" />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-3">

      <label>Name</label>
      <input type="text" class="form-control" data-ng-model="customer.Name" placeholder="Enter customer name.." />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>Type</label>
      <input type="text" class="form-control" data-ng-model="customer.CustomerType" placeholder="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label>Valid From</label>
      <input type="text" class="form-control dp" data-ng-model="customer.ValidFrom" />
    </div>
    <div class="col-md-2">
      <label>Valid To</label>
      <input type="text" class="form-control dp" data-ng-model="customer.ValidTo" />
    </div>
  </div>
  <p />
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary" data-ng-show="!editMode" data-ng-click="submit()">Create</button>
      <button class="btn btn-danger" data-ng-show="editMode" data-ng-click="update()">Update</button>
      <button class="btn" data-ng-show="editMode" data-ng-click="cancelUpdate()">Cancel</button>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Valid From</th>
        <th>Valid To</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="c in customerList | filter:{Name:customerFilter}">
        <td>{{c.Name}}</td>
        <td>{{c.CustomerType}}</td>
        <td>{{c.ValidFrom | date:'mediumDate'}}</td>
        <td>{{c.ValidTo | date:'mediumDate'}}</td>
        <td>
          <a href="#" data-ng-click="delete(c.CustomerId)">Remove</a> | 
        <a href="#" data-ng-click="edit(c)">Edit</a>
        </td>

      </tr>
    </tbody>
  </table>


</div>

@section headScript
{

  <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
}

@section Scripts
{
  <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
  <script src="~/Scripts/angular.min.js"></script>


}
@section footScript
{
  <script>

    $(function () {
      $(".dp").datepicker();
    });


    var app = angular.module("customerApp", []);
    app.controller("customerCtrl", function ($scope, $http) {
      $scope.customer = {};
      $scope.editMode = false;
      $scope.x = "Clara";

      $scope.submit = function () {
        // console.dir($scope.customer);
        $http({ method: "POST", url: "/api/CustomerApi", data: $scope.customer })
          .success(function (data) {
            //console.log("Success data: " + data);
            $scope.updateList();
            $scope.customer = {};
          }).
        error(function (data) {
          console.log("Error data: " + data);

        });
      }; //End submit


      $scope.customerList = [];
      $scope.updateList = function () {
        $http({ method: "GET", url: "/api/CustomerApi" }).
          success(function (data) {
            console.dir(data);
            $scope.customerList = data;
          }).
          error(function (data) { });
      }; //End updateList

      $scope.delete = function (id) {
        //console.log(id);
        $http({ method: "DELETE", url: "/api/CustomerApi/" + id }).
          success(function (data) {
            //console.log("dele Success data: " + data);
            $scope.updateList();


          })
          .error(function (data) {
            console.log("dele Error data: " + data);

          });
      }; //end delete

      $scope.edit = function (cust) {
        $scope.customer = cust;
        $scope.editMode = true;
      }; //end edit

      $scope.update = function () {
        //console.dir($scope.customer);
        $http({ method: "PUT", url: "/api/CustomerApi/" + $scope.customer.CustomerId, data: $scope.customer }).
          success(function (data) {
            console.log("SUC" + data);
            $scope.editMode = false;
            $scope.updateList();
            $scope.customer = {};

          }).
          error(function (date) { });
      };


      $scope.cancelUpdate = function () {
        $scope.customer = {};
        $scope.editMode = false;
        $scope.updateList();

      };

      $scope.updateList();
    });
  </script>
}
