@{
  ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<div data-ng-app="customerApp" data-ng-controller="customerCtrl">
<div class="loader">
		<img src="~/Images/ajax-loader.gif" class="ajax-loader" data-ng-show="loadMode"/>
	</div>

<div class="input-form">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label>Search:</label>
      <input type="text" data-ng-model="customerFilter" class="form-control" />
    </div>
    <div class="form-group">
      <div class="input-group">
        <span data-ng-show="customerFilter.length > 0" class="btn" data-ng-click="resetSearch()"><i class="glyphicon glyphicon-remove"></i></span>
      </div>
    </div>
  </form>

  <hr />
  <div class="row">
    <div class="col-md-3">

      <label>Name</label>
      <input type="text" class="form-control" data-ng-model="customer.Name" placeholder="Enter customer name.." />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label>Type</label>
      @*<input type="text" class="form-control" data-ng-model="customer.CustomerType" placeholder="" />*@
      <select data-ng-model="sub" data-ng-options="subscription.Name for subscription in subscriptions" class="form-control"></select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label>Valid From</label>

      <p class="input-group">
        <input type="text" class="form-control"
          data-datepicker-popup="{{format}}"
          data-ng-model="customer.ValidFrom"
          data-is-open="fromOpened"
          data-min-date="minDate"
          data-datepicker-options="dateOptions"
          data-date-disabled="disabled(date, mode)"
          data-ng-required="true"
          data-close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="fromOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>

    <div class="col-md-2">
      <label>Valid To</label>
       <p class="input-group">
        <input type="text" class="form-control"
          data-datepicker-popup="{{format}}"
          data-ng-model="customer.ValidTo"
          data-is-open="toOpened"
          data-min-date="minDate"
          data-datepicker-options="dateOptions"
          data-date-disabled="disabled(date, mode)"
          data-ng-required="false"
          data-close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="toOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>

  <p />
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary" data-ng-show="!editMode" data-ng-click="submit()">Create</button>
      <button class="btn btn-danger" data-ng-show="editMode" data-ng-click="update()">Update</button>
      <button class="btn" data-ng-show="editMode" data-ng-click="cancelUpdate()">Cancel</button>
    </div>
  </div>



  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Valid From</th>
        <th>Valid To</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="c in customerList | filter:{Name:customerFilter}">
        <td>{{c.Name}}</td>
        <td>{{getSubName(c.CustomerType)}}</td>
        <td>{{c.ValidFrom | date:'mediumDate'}}</td>
        <td>{{c.ValidTo | date:'mediumDate'}}</td>
        <td>{{c.IsActive}}</td>
        <td>
          <a href="#" data-ng-click="delete(c.CustomerId)">Remove</a> | 
        <a href="#" data-ng-click="edit(c)">Edit</a>
        </td>

      </tr>
    </tbody>
  </table>


</div>
  </div>

@section headScript
{

  <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
  <link href="~/Content/Views/Customers.css" rel="stylesheet" />
}

@section Scripts
{
  <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
  <script src="~/Scripts/angular.min.js"></script>
  <script src="~/Scripts/angular-ui.js"></script>
  <script src="~/Scripts/App/CustomerApp.js"></script>
}




