<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="DataContext"
         connectionString="Server=62f4ac5e-94a5-4e04-a31c-a3750112355a.sqlserver.sequelizer.com;Database=db62f4ac5e94a54e04a31ca3750112355a;User ID=grzzqwuodapbwnim;Password=gAqPbG6US4ebmiskxBJPphADk3MQXQ4hrgxTe8vNSimRXWw7PxLx4Ln8aTDg4p6b;" />
  </connectionStrings>
</configuration>