@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul>
      <li>Home</li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
